# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# file to move stuff to the right dir automatically
movestuff.sh

# tunnel out my ports to test on multiple devices using cloudflare tunnels
tunnel.sh

# you can prolly guess what this is lmao
# data dir for postgres so I can clear and regenerate easily cuz I dont like writing migrations :/
db_data/*
